extends layout

block content
  .container-fluid
    h1 Consent Created
    p
    b Your request has been entered into the ledger and is being processed.
    p
    p It will therefore be some delay before your consent is visible for the user.
    a(href="/listofactivetemplates",class="btn btn-primary") Return
