extends layout

block content
  .container-fluid
    h1 Your password was incorrect
    b The password provided was unable to unlock your ethereum account.
    p
    p The action you selected to perform has not taken place. Please try again.
    a(href=backURL,class="btn btn-primary") Back
