extends layout

block content
  .container-fluid
    h1 Consent
    b When one person voluntarily agrees to the proposal or desires of another.
    p
    p This is a common use case when a company wants to perform processing of information collected from a person for a specific purpouse. For example: If a company collects data on a persons usage of a product with the intention of using that data to perform product improvements based on that data, the company needs to have a consent.
    p One solution to this is to provide consent handling through contracts on an ethereum blockchain. That is what this prototype demonstrates.
    p
    h1 System information
    p This system allows companies and users to accept, deny or withdraw consents, request new consents and manage consent form templates.
    p
    p For more technical information and solution see 
      a(href="https://github.com/dnulnets/consent/wiki") The System Wiki
      |  for details.
    h1 Disclaimer
    b This is a demo system run by Tomas Stenlund to show what a consent handling prototype run as a consortium could look like. The system as such can be restarted, wiped or reinstalled at any time and makes no claim of being bug free, secure or up and running 24/7. Use at your own risk.
    p
    p
      b This consent chain is not available for the public and makes no claim of having nodes that are an authority in this sense even if they are mining the blockchain. This is a private test blockchain for proof of concept.
