extends layout
include mixins

block content
  .container-fluid
    h1 Your consents
    div
      table.table.table-hover
        thead
          tr
            th(width="30%") Contract
            th(width="60%") Title
            th(width="5%") Version
            th(width="5%") Status
        tbody
          each val in consents
            tr
              td
                a(href='/consent/'+val.id) #{val.id}
              td= val.title
              td= val.version
              td= val.status
