extends layout
include mixins

block content
  +nav("Consent Handling", "dropdown_menu", "inverse")
    if (!user)
      +nav_item( "login" ) Login
      +nav_item( "register" ) Register
    if (user)
      +nav_item( "logout" ) Logout
  .container-fluid
    p.lead Once you have logged in you will get access to your consent file on the blockchain and manage all of your consents.
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      b &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel