extends layout

block content
  .container-fluid
    h1 Login failed
    b User name or password is wrong
    p
    p This means that you are not authenticated and cannot perform any operations on this website.
