extends layout
include mixins

block content
  +nav("Consent Handling", "dropdown_menu", "inverse")
      +nav_item( "/list" ) List of consents
      +nav_item( "/listofactivetemplates" ) List of templates
      +nav_item( "/listofalltemplates" ) Template history      
      +nav_item( "/logout" ) Logout
  .container-fluid
    h1 New Consent Template
    form(role='form', action="/createnewtemplate",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="title", placeholder='Enter title')
      .form-group
        input.form-control(type='textarea', name="text", placeholder='Enter description')
      button.btn.btn-default(type='submit') Submit
      b &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
