extends layout

block content
  .container-fluid
    p.lead Once you have registered a username you will get a blockchain account and a personal consent file that allows you to manage all of your consents.
    p If you are an administrator you will be able to manage all consent templates and generate new consents for specific users.
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      .form-group
          label(for="sel1") Role
          select.selectpicker.form-control(name="role", id="sel1")
            option(value="user") User
            option(value="admin") Administrator
      button.btn.btn-default(type='submit') Submit
      b &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
