extends layout

block content
  .container-fluid
    h1 Unauthorized
    b You do not have sufficient privileges
    p
    p This means that you do not have enough orivileges to perform that specific operation.